body {
	background-color: #14bdac;
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
	color: #f0f0f0;
	text-align: center;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.cell-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	border: 2px solid #0da192;
	border-radius: 5px;
	position: relative;

}

.cell-tile {
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	position: relative;
}

.cell-content {
	background-color: rgba(255,255,255,0.8);
	border: 2px solid black;
	box-sizing: border-box;
	border-radius: 5px;
	color: black;
	font-size: 30px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	cursor: pointer;
	transition: 0.2s;
}

.cell-win {
	background-color: #a0f477;
}

.shuffle-button {
	display: block;
	margin: auto;
	position: relative;
	bottom: 20px;
}

.button {
	background-color: #fff;
	text-decoration: none;
	width: 100px;
	font-size: 20px;
	color: #232323;
	border: 2px solid #232323;
	border-radius: 4px;
	transition: 0.2s;
}

.button:hover {
	background-color: #232323;
	color: #f9f9f9;
	border: 2px solid #f9f9f9;
}

.generate-form {
	position: relative;
	top: 10px;
}

.generate-form__input {
	background-color: #292929;
	color: #fff;
	border: none;
	outline: none;
	height: 25px;
	vertical-align: middle;
	padding-left: 5px;
	color: #f9f9f9;
	border-radius: 4px;
}

.generate-form__button {
	vertical-align: middle;
	border-color: #292929;
	color: #292929;
}